body,html {
margin: auto;
background-color: rgb(203, 203, 203);
font-family: 'Arvo', serif;
}
.portPics{
width: 100px;
height: 100px;
}
#aboutPic{
    width: 300px;
    height: 400px;
}
.uk-section{
    text-align: center;
}
.uk-fieldset{
  padding-left: 100px;
  padding-right: 100px;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background-color: rgb(133, 133, 133);
}
.uk-dropdown-nav>li>a {
  font-family: 'Nothing You Could Do', cursive;
  position: relative;
  color: #000000;
  text-transform: uppercase;
  transition: .1s ease-in-out;
  transition-property: color,background-color;
}

.uk-dropdown-nav>li>a:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.uk-dropdown-nav>li>a:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: 28px;
  left: 12px;
  background-color: rgb(247, 247, 247);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.uk-dropdown-nav>li>a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: rgb(255, 255, 255);
}


.uk-navbar-toggle.uk-open, .uk-navbar-toggle:focus, .uk-navbar-toggle:hover {
  color: rgb(255, 255, 255);
  outline: 0;
  text-decoration: none;
}
.navpic{
  width: 20px;
  height: 20px;
}
h1,p,h2,h4{
  color: rgb(255, 255, 255);
  font-family: 'Nothing You Could Do', cursive;
}


.uk-button{
  color: rgb(255, 255, 255);
}
.uk-grid-small{
  margin-left: 50px;
  margin-right: 50px;
}
.pCards{
  font-family: 'Nothing You Could Do', cursive;
  padding-bottom: 20px;
}
.formDiv{
  font-family: 'Nothing You Could Do', cursive;
}
#service{
  color: rgb(255, 255, 255);
  font-family: 'Nothing You Could Do', cursive;
}
h4{
  font-size: 30px;
  padding-right: 30px;
  padding-top: 20px
}
#aboutHeader{
  font-size: 60px;
}
#infoP{
  font-size: 20px;
}
#footerLove{
  position: fixed;
left: 0;
bottom: 0;
width: 100%;
color: white;
text-align: right;
}
.uk-navbar-right{
  padding: 20px;
  color: rgb(254, 254, 254)
}
.uk-navbar-right>a{
  padding: 10px;
}
.uk-icon{
  color: rgb(255, 255, 255)
}
.portfolioGit{
  color: #1e87f0;
}
#name1{
  color: rgb(0, 0, 0)
}
/* media query */

@media only screen and (max-width: 480px) {

.uk-navbar-center{
  margin-left: 35px;
}

}
